@{
    ViewData["Title"] = "Home Page";
}


<div class="intro-site text-center">

    <img class="logo-site-capa" src="~/img/open-book.png">
    <h1 class="display-2 title-card"><strong>Bem-Vindo a Wish List</strong></h1>
</div>


<section class="banner-container align-items-center">
   <div class="banner d-block w-100 align-items-center">
<img class="d-block w-75 center img-fluid mx-auto" src="https://www.taglivros.com/blog/wp-content/uploads/2018/06/x_1-foto.png" alt="Banner">
    </div>
</section>



<section class="descricao-container">
<div class="descricao">
        <h1 class="display-4 title-card">Aqui você cataloga seus livros</h1>
<p  class="livro-item2">Torne sua opinião pública, comente sobre os livros que você leu!</p>

</div>

</section>
