@model WishListBooks.Models.Entities.User

<div class="container-fluid position-static">
    
<a class="navbar-brand menu-title" asp-area="" asp-controller="Home" asp-action="Index">WishListBooks</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link menu-title" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        @if(Model.Perfil == WishListBooks.Enum.PerfilEnum.Admin){
            <li class="nav-item">
                    <a class="nav-link menu-title" asp-area="" asp-controller="Categorias" asp-action="Index">Categoria</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link menu-title" asp-area="" asp-controller="Users" asp-action="Index">Usuário</a>
            </li>
        }
        
        <li class="nav-item">
            <a class="nav-link menu-title" asp-area="" asp-controller="Livros" asp-action="Index">Livros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-title" asp-area="" asp-controller="LivrosLidos" asp-action="Index">Avaliações</a>
        </li>

        <li id="" class="nav-item dropdown position-absolute end-0 top-0">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.Login
              <img class="me-2 img-menu" src="~/img/user.png" />
          </a>
          <ul class="dropdown-menu">
            <li><a asp-controller="Login" asp-action="Sair" class="dropdown-item">Log Out</a></li>
          </ul>
        </li>
        
        
    </ul>
    
</div>
</div>